
.logo {
  font-family: 'Pacifico', Helvetica, sans-serif;
  color: #000;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-size: 1.5rem;
}

.navbar-mushy { 
        background-image: linear-gradient(rgba(220,0,0,0.4), rgba(150, 0, 0, 0.8));
        background-position: 0 0, 50px 50px;
       
        box-shadow: 0 8px 6px -6px #999;
      
}

.navbar-mushy .nav-item.active .nav-link { 
    color: #77aa77 !important;
}

.navbar-mushy .nav-item:hover .nav-link {
    color: #ada !important;
}

.navbar-mushy .nav-link {
    color: #cdc !important;
}

#amanita {
    font-size: 0.9rem;
    font-weight: bold;
}

.mushCard { 
    max-width:30rem;
}

body {
    font-family: 'Ubuntu', sans-serif !important; 
  
    background: linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)
      ),
    url(./images/mush.jpg); 
    background-repeat: repeat !important;
    background-size:250px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Alegreya', serif;
}

.row-content {
    padding: 50px 0;
 
    min-height: 200px; }

#mushindex .mushroomName {
    text-indent: 0.2rem;
    margin-bottom: 0.3rem;
}

#keyIndex p {
    text-indent: 1rem;
    margin-top: 0.5rem;

}

.card { 

    background-color: rgba(255,255,255,0.8);
}

.jumbotron {
    background-color: rgba(255,222,222,0.2);
}

.thead-light th {
    background-color: rgba(230,200,200,0.7) !important;
    border: none !important;
}

.transtable {

    background-color:rgba(255,255,255,0.3) !important;
    border: 1px solid rgba(0,0,0,0.1);
    
}

.card-attr { 
    font-size:0.8rem;
    text-align:center;
}